* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    background: url('cinema.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


#keyword {
    width: 350px;
}


/* append div css grid */
#divBox {
    padding: 1rem;
    border-radius: 1rem;
}

#filmPoster {
    width: 75%;
    margin-bottom: 1rem;
    border: 3px solid lightblue;
    border-radius: 1rem;
}

#searchMoviePoster, #imgFavoritePoster {
    margin-bottom: 0.2rem;
    border: 3px solid lightblue;
    border-radius: 1rem;
    padding-top: 0;
    margin-top: 0;
}

/* For Film Title */
#cardh, #cardFavoriteTitle {
    white-space: nowrap;       
    /* alt satıra hiç inme */

    overflow: hidden;          
    /* taşanları gizle   "overflow"-Wert darf nicht "visible" sein */

    text-overflow: ellipsis;
    /* eğer uzunsa üç nokta koy */

    line-height: 25px;
}

/* details table th */
.modal div table tr th{
    width: 8rem;
}


#divBox:hover {
    transform: scale(1.03);
    /* üzerine gelince yazı boyutunun 1.03 katı olsun */
    
    text-shadow: 1px 1px 8px rgb(10, 93, 170);
    transition: scale 2s linear;
    /* border: 2px solid black; */
} 

.btn:hover {
    /* border: 2px solid black; */
    /* background-color: #0f4c75; */
    /* font-weight: 600; */
    transform: scale(1.08);
    /* bu fontun 1.2 katı kadar büyüt demek */
}

.far {
    font-size: 20px;
}

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa:hover {
    color: darkblue;
  }
